modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flet run -w -p 5000 --host 0.0.0.0 main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]

[userenv]

[userenv.development]
SERVER_URL = "https://948fa35c-2539-4ce3-9576-080ebb9e0384-00-l3ayj2www4lz.riker.replit.dev"
